body {
    font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
    color:black;
    background-color: #777;
    width: 960px; 
    height:539px;
    font-size: 18px;
    text-align: center;
}

header, nav, section, aside, footer {
    background: #ebebeb;
}

.long-white-block {
    padding:30px;
    margin:10px;
    clear:both;
}

section, aside {
    float:left;
}

section {
    margin:10px;
    height:80px;
    width: 50%;
    padding:20px;
    float:left;   
}

aside {
    margin:20px;
    height:80px;
    width:50%;
    float:left;
}