body {
    font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
    color:black;
    background-color: #777;
    margin-left:auto;
    margin-right:auto;
    width: 960px; 
    height:539px;
    font-size: 18px;
    text-align: center;
}

header, nav, section, aside, footer {
    background: #ebebeb;
}

.long-white-block {
    padding:30px;
    margin:10px;
    clear:both;
    
}

section, aside {
    float:left;
}

section {
    margin:10px 10px 20px 10px;
    width: 50%;
    padding:40px;
    float:left;   
}

article {
    padding:20px;
    color: #ebebeb;
    background: #777;
}

h1,p {
    margin:4px;
    padding:10px;
    background-color: #ebebeb;
    color:#777;
}
aside {
    padding-top:40px;
    padding-right:153px;
    padding-bottom:198px;
    padding-left:153px;
    margin:10px 10px 20px 20px;
    float:left; 

}

#footer {
    padding:20px;
    margin:30px 10px 10px 10px;
    clear:both;
}
